<!DOCTYPE html>
<html>
    <head>

         
        <link rel="stylesheet" href = "./css/style.css">

       
    </head>
    <body>
       {{>header}}
        <h1>{{name}}</h1>
       
        
         <img src = ".\image\download.jfif" height="300" width="500" alt="Not Found">
    </body>
</html>