<!DOCTYPE html>
<html>
    <head>

         
        <link rel="stylesheet" href = "./css/style.css">

       
    </head>
    <body>
       {{>header}}
        <h1>{{name}}</h1>
       
        
         <img src = "https://image.shutterstock.com/image-photo/spring-blossom-background-beautiful-nature-260nw-1033292395.jpg" height="300" width="500" alt="Not Found">
    </body>
</html>