
<html>
    <head>  
        <link rel="stylesheet" href = "./css/style.css">
        
        
    </head>
    <body>
        <center>

            {{>header}}
        
        <p>created by:{{name}}</p>

        <form>
            <input placeholder="location">
            <button>search karo </button>
        </form>

        <p id="messageOne"></p><br/><br/>
        <p id="messageTwo"></p>

        
        </center>

         
    </body>

    <script type="text/javascript" src="views/partials/helloapp1.js" ></script>
</html>