<html>
    <h1>{{title}}</h1>

    <body>
    <div>
    <a href="index">index</a>
    <a href = "about">about</a>
    <a href ="help">help</a>
</div>
<h2>{{errorMessage}}</h2>
<footer>{{name}}</footer>

</body>
</html>

